header {
	background-color: rgb(46, 145, 46);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
nav ul li.search {
    position: absolute;
	right: 0;
	transform: translateY(-50%);
}
nav ul {
	display: inline-flex;
}

nav ul li {
	list-style: none;
	margin-right: 20px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 18px;
}

nav ul li a:hover {
	color: black;
	background-color: white;
	border-radius: 5px;
	padding: 5px;
}

nav ul li input[type="text"] {
	padding: 5px;
	border-radius: 5px;
	border: none;
	margin-right: 5px;
}

nav ul li button {
	padding: 5px;
	border-radius: 5px;
	border: none;
	background-color: white;
	color: green;
	font-weight: bold;
	cursor: pointer;
}

.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
}

.card {
	background-color: white;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.3);
	width: 40%;
}

.card h2 {
	font-size: 26px;
	color: green;
	margin-bottom: 20px;
	border-bottom: 1px solid green;
	padding-bottom: 10px;
}

.card-content h3 {
	font-size: 30px;
	color: green;
	margin-top: 0;
}

.card-content p {
	font-size: 20px;
	margin-top: 10px;
}

.card-content img {
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.card-content button {
	padding: 10px 20px;
	border-radius: 20px;
	border: none;
}
.navigation-buttons {
	
  	padding: 8px 16px;
	border-radius: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
	
}
#previous-button,#next-button{
	font-size: xx-large;
}
#previous-button{
	background-color: white;
}
#next-button{
	background-color: #04AA6D;
}
#previous-button,#next-button:hover {
	background-color: #ddd;
}
#previous-button:hover {
	background-color: black;
	color:white;
}
#votes-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
  }
  
  #votes-list p {
	width: 50%;
	text-align: center;
  }
  
  @media (min-width: 768px) {
	#votes-list {
	  flex-wrap: wrap;
	  flex-direction: row;
	}
  
	#votes-list p {
	  width: calc(100% / 5);
	}
  }
  